<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>ServletUser</servlet-name>
        <servlet-class>br.com.ifpb.sd.client.rs.ServletUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMessage</servlet-name>
        <servlet-class>br.com.ifpb.sd.client.rs.ServletMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUser</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMessage</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
</web-app>
